/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/.php_cs.cache
.env.testing
cghooks.lock
/public/mix-manifest.json
/public/stats.html

.DS_Store

package-lock.json
composer.lock
/public/js/resources*
/public/css/app.css
/public/css/app.css.map
/public/js/app.css
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/js/vendor.js.LICENSE.txt
/public/js/app.js.LICENSE.txt